/*
 *  Compiles to /public/assets/css/master.css
 */

html,body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  line-height: 1.333;
}

body {
  font-family: sans-serif;
  color: #404249;
}
